.var-titleBar {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 16px;
  align-items: center;

  &-content {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 1000000;
    app-region: drag;
    user-select: none;
    background-color: #ddd;
    -webkit-app-region: drag;
    height: var(--titleBar-height);
    padding-right: calc(100% - var(--titleBar-width));
  }
}
